/* FOOTER */
.footer {
    @include adaptive-value("padding-top", 58, 30);
    @include adaptive-value("padding-bottom", 58, 30);

    background-color: #f3f4ff;

    // .footer__container
    &__container {
    }

    // .footer__top
    &__top {
    }

    // .footer__body
    &__body {
    }

    .dark & {
        background-color: #2c2a2a;
    }
}

.top-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);

    // .top-footer__info
    &__info {
        max-width: rem(455);
    }

    // .top-footer__title
    &__title {
        font-family: $font-second;
        font-weight: 600;
        font-size: rem(26);
        line-height: math.div(39, 26);
        text-transform: capitalize;
        color: #191919;

        .dark & {
            color: $color-light;
        }

        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    // .top-footer__sub-title
    &__sub-title {
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(27, 16);
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: $color-gray;

        p {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }

        .dark & {
            color: #e7e6e6;
        }
    }

    // .top-footer__form
    &__form {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        border-radius: rem(15);
        padding: rem(10);
        box-shadow: 0 rem(20) rem(25) rgb(84 94 225 / 22%);
        background-color: #f9fcfb;
        opacity: 0.9;
        transition: all 0.3s ease;

        &.form-error {
            box-shadow: 0 rem(20) rem(25) rgb(255 0 0 / 22%);
        }

        @media (min-width: em(915)) {
            max-width: rem(550);
        }

        @media (max-width: md($mobile-small)) {
            width: 100%;
        }
    }

    // .top-footer__input
    &__input {
        flex: 1 1 auto;

        &::placeholder {
            font-family: $font-second;
            font-weight: 400;
            font-size: rem(16);
            line-height: math.div(24, 16);
            color: $color-gray;
            transition: all 0.3s ease;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        @media (min-width: em(430)) {
            padding-right: rem(10);
        }

        @media (max-width: md(430)) {
            padding: rem(15);
        }
    }

    // .top-footer__button
    &__button {
        border-radius: rem(10);
        padding: rem(14) rem(37);
        font-family: $font-second;
        line-height: math.div(27, 18);
        color: $color-light;
        background-color: $color-light-blue;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:focus {
            background-color: #2a38ff;
        }

        &:active {
            transform: translateY(rem(3));
        }

        .form-error & {
            background-color: #f00;
        }

        @media (max-width: md(430)) {
            flex: 1 1 auto;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #2a38ff;
            }
        }
    }

    &:not(:last-child) {
        @include adaptive-value("margin-bottom", 50, 20);

        position: relative;

        &::after {
            @include pseudo;
            @include adaptive-value("bottom", -50, -20);

            left: -100%;
            width: 1000%;
            height: rem(1);
            background-color: #e5e5e5;
        }
    }
}

.body-footer {
    @include adaptive-value("padding-top", 88, 30);

    display: flex;
    flex-wrap: wrap;
    column-gap: rem(27);
    row-gap: rem(30);

    // .body-footer__info
    &__info {
        flex: 0 1 rem(360);
    }

    // .body-footer__logo
    &__logo {
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: rem(35);
        }
    }

    // .body-footer__text
    &__text {
    }

    // .body-footer__column
    &__column {
        @media (min-width: em(769)) {
            flex: 0 1 rem(125);
        }
    }

    // .body-footer__feed-back
    &__feed-back {
        flex: 0 1 rem(220);
    }
}

.column-footer {
    // .column-footer__title
    &__title {
        .dark & {
            color: $color-light;
        }

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 24, 5);
        }

        @media (min-width: em(769)) {
            cursor: text;
        }

        @media (max-width: md(769)) {
            position: relative;
            width: 100%;
            text-align: left;

            .spoller-init & {
                cursor: pointer;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    right: rem(10);
                    top: 50%;
                    width: rem(15);
                    height: rem(2);
                    background-color: $color-dark;
                    transition: transform 0.5s ease;

                    .dark & {
                        background-color: $color-light;
                    }
                }

                &::before {
                    transform: translate(-75%, -50%) rotate(40deg);
                }

                &::after {
                    transform: translate(0, -50%) rotate(-40deg);
                }

                &.spoller-active {
                    &::before {
                        transform: translateX(-75%) rotate(-40deg);
                    }

                    &::after {
                        transform: rotate(40deg);
                    }
                }
            }
        }
    }

    // .column-footer__list
    &__list {
    }

    // .column-footer__item
    &__item {
    }

    // .column-footer__link
    &__link {
        font-family: $font-second;
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(46, 16);
        text-transform: capitalize;
        color: $color-gray;
        opacity: 0.8;
        transition: color 0.3s ease;

        .dark & {
            color: #e7e6e6;
        }

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
                color: $color-light-blue;
            }
        }
    }

    @media (max-width: md(769)) {
        width: 100%;
    }
}

.feed-back {
    // .feed-back__title
    &__title {
        .dark & {
            color: $color-light;
        }

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .feed-back__text
    &__text {
        font-family: $font-second;
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(46, 16);
        color: $color-gray;

        .dark & {
            color: #e7e6e6;
        }

        &:not(:last-child) {
            margin-bottom: rem(35);
        }
    }

    // .feed-back__socials
    &__socials {
    }
}

.title-footer {
    font-family: $font-second;
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(36, 24);
    text-transform: capitalize;
    color: #191919;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);

    // .socials__icon
    &__icon {
        display: inline-block;
        border-radius: rem(8);
        transition: box-shadow 0.3s ease;

        svg {
            @include wh(rem(30), rem(30));
        }

        @media (any-hover: hover) {
            &:hover {
                box-shadow: rem(-2) rem(2) rem(0) rgb(84 94 225 / 60%);
            }
        }
    }
}
