<footer data-watch="navigator" class="footer">
    <div class="footer__container">
        <div class="top-footer footer__top">
            <div class="top-footer__info">
                <h2 class="top-footer__title">
                    Subscribe To Get The Latest
                    News About Us
                </h2>
                <div class="top-footer__sub-title">
                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                    <div style="color:#fff;font-family:sans-serif;">Front End <a href="https://nikkeyl.vercel.app" style="color:#ff003c;text-decoration:underline">nikkeyl</a></div>
                </div>
            </div>
            <form action="#" class="top-footer__form">
                <input data-required="email" aria-label="email input" type="text" name="email" data-placeholder-nohide placeholder="Enter your email..." class="top-footer__input">
                <button type="submit" class="top-footer__button">Send</button>
            </form>
        </div>
        <div class="body-footer footer__body">
            <div class="body-footer__info">
                <a href="index.html" class="logo logo--dark body-footer__logo">
                    A<span>g</span>ency
                </a>
                <div class="body-footer__text">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                </div>
            </div>
            <div data-spollers="768, max" class="column-footer body-footer__column">
                <button data-spoller type="button" class="title-footer column-footer__title">About</button>
                <ul class="column-footer__list">
                    <li class="column-footer__item"><a href="#" class="column-footer__link">About Us</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Featurs</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">News</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Careers</a></li>
                </ul>
            </div>
            <div data-spollers="768, max" class="column-footer body-footer__column">
                <button data-spoller type="button" class="title-footer column-footer__title">Company</button>
                <ul class="column-footer__list">
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Our Team</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Partner With Us</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">FAQ</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Blog</a></li>
                </ul>
            </div>
            <div data-spollers="768, max" class="column-footer body-footer__column">
                <button data-spoller type="button" class="title-footer column-footer__title">Support</button>
                <ul class="column-footer__list">
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Account</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Support Center</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Feedback</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Contact Us</a></li>
                    <li class="column-footer__item"><a href="#" class="column-footer__link">Accesbility</a></li>
                </ul>
            </div>
            <div class="feed-back body-footer__feed-back">
                <div class="title-footer feed-back__title">Get in Touch</div>
                <div class="feed-back__text">
                    <p>ion or Feedback?</p>
                    <p>We'd love to hear from you</p>
                </div>
                <div class="socials feed-back__socials">
                    <a href="#" class="socials__icon">
                        <img src="@content/svg/socials/pinterest.svg" alt="Pinterest">
                    </a>
                    <a href="#" class="socials__icon">
                        <img src="@content/svg/socials/instagram.svg" alt="Instagram">
                    </a>
                    <a href="#" class="socials__icon">
                        <img src="@content/svg/socials/facebook.svg" alt="Facebook">
                    </a>
                    <a href="#" class="socials__icon">
                        <img src="@content/svg/socials/youtube.svg" alt="Youtube">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
