<header data-lp data-scroll-show data-scroll="50" class="header">
    <div class="header__container">
        <!-- LOGO -->
        <a href="index.html" class="logo header__logo">
            A<span>g</span>ency
        </a>
        <!-- HEADER MENU -->
        <div class="menu header__menu">
            <button aria-label="Open mune" type="button" class="icon-menu menu__icon">
            </button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".home" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".creative" class="menu__link">About</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".services" class="menu__link">Services</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".projects" class="menu__link">Project</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".clients" class="menu__link">Feedback</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".blog" class="menu__link">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Link to navigate the site" data-goto-header data-goto=".footer" class="menu__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>