/* PAGE HOME */
//========================================================================================================================================================//
.home {
    @include adaptive-value("padding-top", 246, 120);
    @include adaptive-value("padding-bottom", 185, 30);

    display: flex;
    align-items: center;
    background-color: $color-light-blue;

    // .home__container
    &__container {
        width: 100%;

        @media (min-width: em($tablet)) {
            display: flex;
            align-items: center;
            gap: rem(30);
        }
    }

    // .home__body
    &__body {
        @media (min-width: em($tablet)) {
            max-width: rem(550);
        }

        @media (max-width: md($tablet)) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    // .home__title
    &__title {
        @include adaptive-value("font-size", 48, 35);

        font-weight: 700;
        line-height: math.div(58, 48);
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $color-light;
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;

        .loaded & {
            opacity: 1;
            transform: translateY(0);
        }

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    // .home__sub-title
    &__sub-title {
        @include adaptive-value("font-size", 24, 20);

        line-height: math.div(36, 24);
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #e5e5e5;
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;

        .loaded & {
            opacity: 1;
            transform: translateY(0);
        }

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 54, 20);
        }
    }

    // .home__actions
    &__actions {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(40);
        row-gap: rem(20);
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease 0.7s, opacity 0.5s ease 0.7s;

        .loaded & {
            opacity: 1;
            transform: translateY(0);
        }

        @media (max-width: md(485)) {
            justify-content: center;
        }
    }

    // .home__button
    &__button {
        @media (max-width: md(485)) {
            width: 100%;
        }
    }

    // .home__play
    &__play {
        display: flex;
        align-items: center;
        gap: rem(8);
        font-size: rem(22);
        line-height: math.div(27, 22);
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $color-light;

        svg {
            @include wh(rem(25), rem(25));

            transition: fill 0.3s ease;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: rgb(0 255 242);
                }
            }
        }
    }

    // .home__image-ibg
    &__image-ibg {
        flex: 1 1 rem(530);

        @media (min-width: em($tablet)) {
            align-self: flex-start;
            padding-bottom: percent(457, 1130);
        }

        @media (max-width: md($tablet)) {
            padding-bottom: percent(457, 530);
        }
    }
}

//========================================================================================================================================================//
.creative {
    @include adaptive-value("padding-top", 80, 50);
    @include adaptive-value("padding-bottom", 83, 30);

    // .creative__container
    &__container {
        @media (min-width: em($tablet)) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: rem(20);
        }
    }

    // .creative__body
    &__body {
        @media (min-width: em($tablet)) {
            flex: 0 1 rem(566);
        }

        @media (max-width: md($tablet)) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    // .creative__text
    &__text {
        line-height: math.div(34, 18);
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $color-gray;
        transition-delay: 0.2s;

        .dark & {
            color: #e7e6e6;
        }
    }

    // .creative__image-ibg
    &__image-ibg {
        max-height: rem(500);

        img {
            @include adaptive-value("margin-left", -94, 0, 1920, 992, 1);
        }

        @media (min-width: em($tablet)) {
            flex: 1 1 auto;
            align-self: flex-start;
        }

        @media (min-width: em($tablet)) {
            padding-bottom: percent(417, 1200);
        }

        @media (max-width: md($tablet)) {
            padding-bottom: percent(417, 610);
        }
    }
}

//========================================================================================================================================================//
.services {
    @include adaptive-value("padding-top", 83, 30);
    @include adaptive-value("padding-bottom", 103, 30);

    // .services__container
    &__container {
    }

    &__title {
        margin: 0 auto;
        max-width: rem(500);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 20);
        }
    }

    // .services__cards
    &__cards {
        @include grid-cards(fill, rem(290), 1fr, 0, rem(30), 20, 43);

        justify-items: center;
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease, opacity 0.5s ease;

        &.watcher-view {
            opacity: 1;
            transform: translateY(0);
        }

        @media (max-width: md($mobile-small)) {
            row-gap: rem(20);
        }
    }

    &__card {
        @media (min-width: em($tablet)) {
            @include slide(6, 30, 1.5, 0.2, top, 0, $mobile, bottom);
        }

        @media (max-width: md($mobile)) {
            opacity: 0;
            transform: translateX(rem(40));
            transition: transform 0.5s ease, opacity 0.5s ease;

            &.watcher-view {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

//========================================================================================================================================================//
.sales {
    @include adaptive-value("padding-top", 103, 30);
    @include adaptive-value("padding-bottom", 75, 30);

    // .sales__container
    &__container {
        @media (min-width: em($tablet)) {
            display: flex;
            gap: rem(20);
        }
    }

    // .sales__body
    &__body {
        @media (min-width: em($tablet)) {
            max-width: rem(550);
        }

        @media (max-width: md($tablet)) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 68, 20);
        }
    }

    // .sales__list
    &__list {
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease, opacity 0.5s ease;

        &.watcher-view {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // .sales__list-item
    &__list-item {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }

        @media (min-width: em($tablet)) {
            @include slide(5, 30, 1.2, 0.2, top, 0, $mobile, bottom);
        }

        @media (max-width: md($tablet)) {
            opacity: 0;
            transform: translateX(rem(40));
            transition: transform 0.5s ease, opacity 0.5s ease;

            &.watcher-view {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    // .sales__image-ibg
    &__image-ibg {
        opacity: 0;
        transform: translateY(rem(20));
        transition: transform 0.5s ease, opacity 0.5s ease;

        &.watcher-view {
            opacity: 1;
            transform: translateX(0);
        }

        @media (min-width: em($tablet)) {
            flex: 1 1 auto;
            align-self: flex-start;
            padding-bottom: percent(818, 1505);
        }

        @media (max-width: md($tablet)) {
            padding-bottom: percent(818, 1005);
        }
    }
}

//========================================================================================================================================================//
.projects {
    @include adaptive-value("padding-top", 75, 30);
    @include adaptive-value("padding-bottom", 90, 30);

    // .projects__container
    &__container {
    }

    &__title {
        @include adaptive-value("margin-bottom", 58, 20);

        margin-right: auto;
        margin-left: auto;
        max-width: rem(500);
    }
}

//========================================================================================================================================================//
.blog {
    @include adaptive-value("padding-bottom", 162, 30);
    @include adaptive-value("padding-top", 152, 30);

    // .blog__container
    &__container {
    }

    &__title {
        margin: 0 auto;
        max-width: rem(500);

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 72, 20);
        }
    }

    // .blog__slider
    &__slider {
    }

    // .blog__wrapper
    &__wrapper {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 100, 20);
        }
    }

    // .blog__slide
    &__slide {
    }
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: rem(15);
    height: rem(15);
}

.swiper-pagination-bullet {
    @include wh(rem(15), rem(15));

    border-radius: 50%;
    background-color: $color-light-blue;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

//========================================================================================================================================================//
.clients {
    @include adaptive-value("padding-top", 60, 30);
    @include adaptive-value("padding-bottom", 60, 30);

    background-color: #8d94f6;

    // .clients__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
    }

    // .clients__slider
    &__slider {
        flex: 1 1 rem(455);
        margin: rem(-20);
        padding: rem(20);
    }

    &__title {
        flex: 1 1 rem(410);
    }

    // .clients__wrapper
    &__wrapper {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 80, 30);
        }
    }

    // .clients__slide
    &__slide {
    }

    &__review {
        margin: 0 auto;
    }
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    .swiper-pagination--light & {
        background-color: $color-light;
        opacity: 0.3;
    }
}
