/* EFFECTS */
//========================================================================================================================================================//
.anim-rise {
    opacity: 0;
    transform: translateY(rem(20));
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.watcher-view {
        opacity: 1;
        transform: translateY(0);
    }
}

.anim-ltr {
    opacity: 0;
    transform: translateX(rem(-20));
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.watcher-view {
        opacity: 1;
        transform: translateX(0);
    }
}
